PORT=8787
CORS_ORIGIN=http://localhost:3000
MAX_UPLOAD_MB=80
COMPILE_TIMEOUT_MS=60000
MOSS_COMPILER_ENGINE=auto
LATEXMK_BIN=latexmk
TECTONIC_BIN=tectonic
SYNCTEX_BIN=synctex
ENABLE_XELATEX=false
ENABLE_LUALATEX=false
TECTONIC_CACHE_DIR=.tectonic-cache
COMPILE_ARTIFACT_TTL_MS=600000
